* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
:root {
    --color-base:#fff;
    --color-black: #000000;
    --color-principal: #020540;
    --color-secundario: #6BE5F2;
    --color-terciario: #72F29F;
}
body {
    width: 100%;
    height: 100vh;
    font-family: myriad-pro,sans-serif;
    font-weight: 600;
    font-style: normal;
}

.container{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, 20rem);
    grid-gap: .2rem;
    flex-wrap: wrap; 
}
.item {
    background-color: lightseagreen;
    padding: .5rem;
    border: .1rem solid red;
    object-fit: cover;
}
.item:nth-of-type(1) {
    background-color: var(--color-secundario);
    grid-column: 1 / span 3;
    grid-row: 1 / span 2;
}
.item:nth-of-type(2) {
    background-color: var(--color-terciario);
    grid-column: 4 / span 2;
    grid-row: 1 / span 2;
}
.item:nth-of-type(3) {
    background-color: var(--color-terciario);
    grid-column: 6 / span 2;
}
.item:nth-of-type(4) {
    background-color: var(--color-terciario);
   /*  grid-column: 1 / span 3; */
}
.item:nth-of-type(5) {
    background-color: var(--color-terciario);
   /*  grid-column: 1 / span 3; */
}
 /* .item:nth-of-type(4){
    background-color: var(--color-principal);
    grid-column-start:2;
    grid-column-end: 4;
} */
/* .item:nth-of-type(8){
    background-color: var(--color-principal);
    grid-column: 1 / 4;
}
.item:nth-of-type(7) {
    grid-column: 2 /4;
}
.item:nth-of-type(12){
    grid-column: 1 / span 3;
} */