* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
:root {
    --color-base:#fff;
    --color-black: #000000;
    --color-principal: #020540;
    --color-secundario: #6BE5F2;
    --color-terciario: #72F29F;
}
body {
    width: 100%;
    height: 100vh;
    font-family: myriad-pro,sans-serif;
    font-weight: 600;
    font-style: normal;
}
header {
    background-color: var(--color-black);
    color: var(--color-base);
    box-shadow: 0rem 1rem 2rem -1rem rgba(0,0,0,0.5);
}
.navBar {
    max-width: 105rem;
    height: 6.5rem;
    margin: 0 auto;
    background-color: var(--color-black);
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}
.navBar-title {
    color: var(--color-base);
    margin: 0 1rem 1rem 1rem;
    width: 20rem;
    height: 2rem;
    font-size: 3rem;
}
.navBar-list {
    height: 100%;
    padding-left: 0;
    margin: 0 0 0 auto;

    display: grid;
    grid-template-columns: repeat(3, auto);
}
.element-list {
    height: 100%;
    list-style-type: none;
}
.element-list .link {
    height: inherit;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    padding: 0 1.5rem;

    display: flex;
    align-items: center;
    justify-items: center;
    font-size: 1.5rem;
}
.element-list .link:hover {
    color: #6BE5F2;
}
.link-activo {
    color: #fff;
}

/* INSTAGRAM  */
.instagram-grid{
    max-width: 95.5rem;
    margin: 0 auto;
    padding:  2.8rem 2rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2.8rem;
}
.instagram-link-container {
    width: 100%;
    position: relative;
}
.instagram-container-image {
    margin: 0;
}
.instagram-container-image img {
    width: 100%;
    vertical-align: top;
    object-fit: cover;
}
.instagram-capa {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.instagram-capa:hover {
    background-color: rgba(0,0,0,0.4);
}
.instagram-capa-text {
    color: transparent;
    margin: 0;
    height: 100%;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}
.instagram-capa-text:hover {
    color: #fff;
}
.instagram-capa-text span {
    margin:  0 1.5rem;
}