* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
:root {
    --color-primario: #D95284;
    --color-secundario: #044BD9;
    --color-terciario: #F27E63;
    --color-base: #fff;
    --color-base2: #333;
}
body {
    width: 100%;
    height: 100vh;
    font-family: neue-haas-unica,sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-base);
}
.cards {
padding: 0;
margin: 0 auto;
list-style: none;
font-size: 0;
}
.cards .card {
    display: inline-block;
    margin: 0 1.5rem;
}
.cards .photo {
    width: 25rem;
    height: 30rem;
    overflow: hidden;
    background-color: var(--color-base2);
    /* border-radius: 1rem; */
    position: relative;
}
.cards .photo img {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    transform: translate(-50%, -50%) scale(1.3);
    transition: transform 3s ease-in-out;
}
.cards .card:hover .photo img {
    transform: translate(-50%, -50%) scale(1);
}