* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
:root {
    --color01: #fff;
    --color02: #333;
    --fonts: font-family: neue-haas-unica,sans-serif;
    font-weight: 400;
    font-style: normal;
    --color3: #D95284;
    --color4: #044BD9;
    --color5: #0442BF;
    --color6: #0476D9;
    --color7: #F27E63;

}
body {
    width: 100%;
    height: 100vh;
    font-size: 1.6rem;
}
.container {
    display: flex;
    border: .3rem solid var(--color3);
    /* flex-direction: ; */
    /* justify-content: flex-end; */
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}
.box {
width: 10rem;
height: 10rem;
}
.box1 {
    background-color: var(--color4);
}
.box2 {
    background-color: var(--color5);
}
.box3 {
    background-color: var(--color6);
}
.box4 {
    background-color: var(--color7);
}
.box5 {
    background-color: var(--color02);
}
.box6 {
    background-color: var(--color3);
}