* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
:root {
    --color-primario: #D95284;
    --color-secundario: #044BD9;
    --color-terciario: #F27E63;
    --color-base: #fff;
    --color-base2: #333;
}
body {
    width: 100%;
    height: 100vh;
    font-family: neue-haas-unica,sans-serif;
    font-weight: 400;
    font-style: normal;
}
.logo img {
    width: 3rem;
    height: 3rem;
}
#index-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1rem;
    grid-template-areas: 
    "gallery-p gallery-p gallery-p gallery-p"
    "gallery-h2 gallery-h2 gallery-h2 gallery-h2"
    "img1 img2 img3 img4"
    "img5 img6 img3 img7"
}
#index-gallery .gallery-img {
    width: 100%;
    height: 30rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

#index-gallery p {
    grid-area: gallery-p;
}
#index-gallery h2 {
    grid-area: gallery-h2;

}

#index-gallery .img1 {
    grid-area: img1;
    background-image: url(../images/aud1.jpg);

}
#index-gallery .img2 {
    grid-area: img2;
    background-image: url(../images/aud2.jpg);
    
}
#index-gallery .img3 {
    grid-area: img3;
    background-image: url(../images/aud3.jpg);
    height: 60rem;
}
#index-gallery .img4 {
    grid-area: img4;
    background-image: url(../images/aud4.jpg);
    
}
#index-gallery .img5 {
    grid-area: img5;
    background-image: url(../images/daniel-korpai-lTb4gJK_l1Q-unsplash.jpg);
    
}
#index-gallery .img6 {
    grid-area: img6;
    background-image: url(../images/daniel-korpai-o1utz9Neufo-unsplash.jpg);
    
}
#index-gallery .img7 {
    grid-area: img7;
    background-image: url(../images/fabian-grohs-mCj7UinqOYQ-unsplash.jpg);
    
}
/* #index-gallery .img8 {
    grid-area: img8;
    background-image: url(../images/blake-connally-B3l0g6HLxr8-unsplash.jpg);
    
} */
.gallery-img div {
    width: 100%;
    height: 100%;
    background-color: var(--color-base2);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery-img a {
    font-family: neue-haas-unica,sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.8rem;
    color: var(--color-base);
    text-decoration: none;
    text-transform: uppercase;
}
.gallery-img div:hover {
    opacity: 0.8;
    transition: all ease-in-out;
}

/* Window when clicked */
.img-window {
    width: 100vw;
    height: 100vh;
    background-color: var(--color-base2);
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.img-window img {
 max-height: 80vh;
 max-width: 80vw;
}

/* Next images (js) */
.img-btn-next {
    display: block;
    padding: .6rem 1rem;
    border-radius: .4rem;
    background-color: var(--color-base2);
    position: fixed;
    top: 48vh;
    z-index: 500;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}