*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
} 
:root {
    --color-primario: #D95284;
    --color-secundario: #044BD9;
    --color-terciario: #F27E63;
    --color-base: #fff;
    --color-base2: #333;
}
body {
    width: 100%;
    height: 100vh;
    font-family: neue-haas-unica,sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--color-base2);
}
section {
    padding: 5rem 0;
}
.container {
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}
.pricing-table {
    display: grid;
}