* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
:root {
    --color-primario: #D95284;
    --color-secundario: #044BD9;
    --color-terciario: #F27E63;
    --color-base: #fff;
    --color-base2: #333;
}
body {
    width: 100%;
    height: 100vh;
    font-family: neue-haas-unica,sans-serif;
    font-weight: 400;
    font-style: normal;
     }
h2 {
    font-size: 4.5rem;
    font-weight: 300;
    margin: 1rem;
}
h2 span {
    font-size: 3rem;
}
p {
    font-size: 2rem;
}
.bg1 {
    background-image: url(../images/mateusz-turbinski-d-QzcrgLDaI-unsplash.jpg);
    background-size: cover;
    object-fit: cover; 
    background-repeat: no-repeat;
    background-position: center;
}
.bg2 {
    background-image: url(../images/andrae-ricketts-0_la3_Slfwk-unsplash.jpg);
    background-size: cover;
    object-fit: cover; 
    background-repeat: no-repeat;
    background-position: center;
}
.container {
    display: grid;
    grid-template-columns: repeat(4, 1FR);
    grid-gap: 1rem;
}
.container > div {
    cursor: pointer;
    height: 20.5rem;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all 0.5s ease-in;
}
.container > div:hover {
    opacity: 0.7;
    transform: scale(1);
}