* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
:root {
    --color-primario: #D95284;
    --color-secundario: #044BD9;
    --color-terciario: #F27E63;
    --color-base: #fff;
    --color-base2: #333;
}
body {
    width: 100%;
    height: 100vh;
    font-family: neue-haas-unica,sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #000;
     }
h2 {
    font-size: 4.5rem;
    font-weight: 300;
    margin: 1rem;
    color: #fff;
}
h2 span {
    font-size: 3rem;
}
p {
    font-size: 2rem;
    color: #fff;
}
.bg1 {
    background-image: url(../images/mateusz-turbinski-d-QzcrgLDaI-unsplash.jpg);
    background-size: cover;
    object-fit: cover; 
    background-repeat: no-repeat;
    background-position: center;
}
.bg2 {
    background-image: url(../images/andrae-ricketts-0_la3_Slfwk-unsplash.jpg);
    background-size: cover;
    object-fit: cover; 
    background-repeat: no-repeat;
    background-position: center;
}
.bg3 {
    background-image: url(../images/city-lit-up-at-night-316902.jpg);
    background-size: cover;
    object-fit: cover; 
    background-repeat: no-repeat;
    background-position: center;
}
.bg4 {
    background-image: url(../images/blake-connally-B3l0g6HLxr8-unsplash.jpg);
    background-size: cover;
    object-fit: cover; 
    background-repeat: no-repeat;
    background-position: center;
}
.bg5 {
    background-image: url(../images/b8h01cqb-a-person-holding-love.jpeg);
    background-size: cover;
    object-fit: cover; 
    background-repeat: no-repeat;
    background-position: center;
}
.container {
    display: grid;
    grid-template-columns: repeat(4, 1FR);
    grid-gap: 1rem;
    
}
.container > div {
    cursor: pointer;
    height: 20.5rem;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all 0.5s ease-in;
}
.container > div:hover {
    opacity: 0.5;
    transform: scale(0.90);
}
.container > div:nth-of-type(1) {
    grid-column: 1 / 3;
}
.container > div:nth-of-type(6) {
 grid-column: 3 / 5;
}
.container > div:nth-of-type(8) {
    grid-column: 2 / 4;
}
.container > div:nth-of-type(10) {
    grid-column: 1 /3;
}