* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

:root {
    --color-primario: #D95284;
    --color-secundario: #044BD9;
    --color-terciario: #F27E63;
    --color-base: #fff;
    --color-base2: #333;
}
body {
    width: 100%;
    height: 100vh;
    font-family: neue-haas-unica,sans-serif;
    font-weight: 400;
    font-style: normal;
}
.container {
    display: flex;
    flex-wrap: wrap;
}
.c1,.c2,.c3, .c4,.c5 {
    width: 100vw;
  /*   height: 50%vh; */
    min-width: 150px;
    height: 20vh; 
}
.c4 {
    height: auto;
}
.c1 {
    background-color: var(--color-base2);
}
.c2 {
    background-color: var(--color-primario);
}
.c3 {
    background-color: #04d944;
}
.c4 {
    background-color: var(--color-secundario);
}
.c5 {
    background-color: var(--color-terciario);
}

/* Layout Responsive  */
/*  @media screen and (min-width: 600px) {
    .c1 {
        width: 25%;
    }
    .c2 {
        width: 75%;
    }
    .c5 {
        width: 100%;
    }
} */
/* @media screen and (min-width: 800px) {
    .container {
        width: 800px;
      margin: 0 auto; 
       margin-left: auto;
       margin-right: auto;
    }
    .c1 {
        width: 50%;
        order: 1;
    }
    .c4 {
        width: 100%;
    }
    .c5 {
        width: 50%;
        order: 2;
    }
}  */

/* Column Drop */

/* @media (min-width: 600px ) {
    .c1 {
        width: 25%;
        order: 1;
    }
    .c2 {
        width: 75%;
        order: 2;
    }
    .c3 {
        width: 100%;
        order: 3;
    }
    .c4 {
        width: 100%;
        order: 4;
    }
    .c5 {
        width: 100%;
        order: 5;
    }
} */
/* @media (min-width: 800px ) {
    .c1 {
        width: 30%;
    }
    .c2 {
        width: 40%;
    }
    .c3 {
        width: 30%;
    }
    .c4 {
        width: 50%;
    }
    .c5 {
        width: 50%;
    }
} */