* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color1: #fff;
    --color2: #333;
}
/* fuente=16px/75%=12px */
html {
    font-size: 62.5%;
}
body {
    width: 100%;
    height: 100vh;
    background-color:#fff;
}
/* h1 {
    font-family:serif;
    color: var(--color2);
}
.title {
    font-size:2.5rem;
    font-family: Arial, Helvetica, sans-serif;
}
.nav {
    margin-top: 10px;
    list-style-type: none;
    padding-left: 0;
}
.nav li {
    display: inline-block;
}
.nav li a {
    color: var(--color2);
    text-decoration: none;
    padding: 5px;
    border-radius: 2px;
    font-size: 1.5rem;
}
.nav .blog {
    background-color: #3a4b5f;
} */

.text1{
    font-size: 3.5rem;
  /*   font-size: 4rem; */
    /* font-size: 2em; */
    /* font-size: 18px; tamaño absoluto */
    /* font-size: 50%; Porcentajes-tomado del html */
}
.text-container {
    /* font-size: 2em; */
    /* font-size: 2rem; */
}
/* combinadores */
/* Todo valor cerca del p (h2) lo va colorear de rojo */
/* h2 + p {
    color: red;
} */
/* general  */
 /* h2 ~ p {
     color: blue;
 } */
/*  descendientes-genérico */
/*  div p{
     color: yellow;
 } */

/* hijo */
/* div > h2 {
    color: orange;
} */

/* .hola {
    position: relative;
    left: 20px;
    border: 3px solid #fff;
} */
/* 1rem=12px/html=12=75% */
/* h1 {
 font-size: 3rem;
} */
/* tamaño heredado de html=12px */
/* p {
    font-size: inherit;
} */
/* main {
    width:100%;
    height:500px;
    border: 10px solid #333;  
    padding: 20px 35px;
} */
/* body {
    width: 100%;
    height: 100vh;
    
}
.main-nav {
 list-style: none;
 padding-left: 10px;
 text-decoration: none;
 margin-top: 10px;
 background-color: #13a4;
}
.main-nav__item {
   display: inline-block;
    
} */
/* .main-nav__item a {
    text-decoration: none;
    color: #fff; 
    padding: 5px;
    border-radius: 2px; */
    /* background-color: rgb(49, 49, 49); */
/* } */
/* seudo-clases */
/* .main-nav__item a:hover{
    color:blue;
}
.main-nav__item a:active {
    color: red;
} */
/* pseudo-elementos */
/*  .main-nav__item::before {
content: " & ";
} 
.main-nav__item::after {
    content: "/ ";
} */


/* section {
    width: 100vw;
    height: 100vh;
}
h1 {
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    margin-top: 30px;
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    justify-items: center;
    text-decoration: none;
    margin: 10px 10px;
    padding: 5px 5px;
} */
/* .container h2 {
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-align: center;
} */
/* .container .list {
    margin-top: 30px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
} */
./* container .list li  {
    list-style: none;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300; */
 /*    background-image: url(../images/aud1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 150px;
    height: 150px;
    object-fit: cover; */
/* } */
/* li img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
} */
/* .frut {
    background-image: url(../images/aud1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 150px;
    height: 150px;
    object-fit: cover;
} */
/* .container .list li a {
    text-decoration: none;
    color:#333;
    text-align: center;
    text-transform: uppercase;
} */