* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
:root {
    --color-primario: #044BD9;
    --color-secundario: #2B65D9;
    --color-terciario: #F2AC29;
    --color-light:#fff;
    --color-black:#3e3e3e;
}
body {
    width: 100%;
    height: 100vh;
    font-family: utopia-std,serif;
    font-weight: 400;
    font-style: normal;
}
.landing {
    min-height: 100vh;
    background-image: url(../images/aud2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0rem 5rem;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
    cursor: pointer;
}
.nav-link {
    display: flex;
    list-style: none;
}
.nav-link li {
    padding-left: 10rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
}
#logo{
    font-family: utopia-std,serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3rem;
    text-transform: uppercase;
    color:var(--color-light);
}
.big-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    font-size: 8rem;
    color: var(--color-light);
}
.intro{
    background: #000000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro-text {
    color: var(--color-light);
    font-size: 3rem;
}
.hide {
    background-color:#000000;
    overflow: hidden;
}
.hide span {
    transform: translateY(100%);
    display: inline-block;
}
.slider {
    background-color:#000000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}