* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
:root {
    --color-base: #fff;
    --color-base2: #000;
    --color-logo: #234050;
    --color-platzi: #97c93e;
}
body {
    width: 100%;
    height: 100vh;
}
picture img {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* .modal {
    width: 20rem;
    height: 20rem;
    background-color: var(--color-logo);

} */